# Data Preprocessing:
## Importing Required Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Reading Data from CSV Files

In [2]:
movies_df = pd.read_csv('movies.csv')
ratings_df = pd.read_csv('ratings.csv')
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

non-greedy match

## Data cleaning
we preprocess the movie data by extracting the year from the title and splitting the genres into separate columns.

In [3]:
movies = movies_df.copy()

# Using regular expressions with the str.extract() method,
# we extract the year from the title of each movie and store it in a new column called 'year'.
movies['year'] = movies.title.str.extract('(\d{4})', expand=False)
# We remove the year from the title using regular expressions and the str.replace() method. 
# Then, we strip any leading or trailing whitespace from the titles.
movies['title'] = movies.title.str.replace('\(\d{4}\)', '', regex=True)
movies['title'] = movies['title'].str.strip()
# We split the genres listed for each movie, which are separated by '|',
# into a list of genres and store them in 'genres'.
movies['genres'] = movies_df.genres.str.split('|')
movies.head()

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995

## Encoding Genres as Binary Features

we encode movie genres as binary features in a new DataFrame.

In [4]:
GenresMovies_df = movies.copy()
# We iterate through each row of the DataFrame and for each movie, 
# we set the value of the corresponding genre column to 1, indicating the presence of that genre.
for index, row in movies.iterrows():
    for genre in row['genres']:
        GenresMovies_df.at[index, genre] = 1
# We fill missing values (NaN) with 0, indicating that the movie does not belong to that genre.
GenresMovies_df = GenresMovies_df.fillna(0)
GenresMovies_df = GenresMovies_df.set_index(GenresMovies_df['movieId'])
GenresMovies = GenresMovies_df.drop(columns=['movieId', 'title', 'genres', 'year'])
GenresMovies

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Content-Based recommendation system
## Creating User Input Movies

In [5]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
            ] 
inputMovies = pd.DataFrame(userInput)
# We retrieve the 'movieId' of each user input movie from the 'movies' DataFrame by matching the movie titles.
inputId = movies[movies['title'].isin(inputMovies['title'])]
inputMovies.insert(0, 'movieId', inputId['movieId'].tolist())
inputMovies

   movieId                title  rating
0        1  Breakfast Club, The     5.0
1        2            Toy Story     3.5
2      296              Jumanji     2.0
3     1274         Pulp Fiction     5.0
4     1968                Akira     4.5

## Extracting User Input Movies

we extract the encoded genre features for the user input movies.

In [6]:
userMovies = GenresMovies_df[GenresMovies_df['movieId'].isin(inputMovies['movieId'])]
userMovies = userMovies.drop(columns=['movieId', 'title', 'genres', 'year'])
userMovies = userMovies.reset_index(drop=True)
userMovies

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Creating User Profile

In this section, we create a user profile based on the input movie ratings and encoded genre features.
We transpose the 'userMovies' DataFrame to have genres as rows and movies as columns, then perform dot product with input movie ratings to calculate the weighted sum of genre features.

In [7]:
userProfile = userMovies.transpose().dot(inputMovies['rating'])
userProfile = userProfile/sum(userProfile)
userProfile

Adventure             0.186207
Animation             0.137931
Children              0.117241
Comedy                0.158621
Fantasy               0.117241
Romance               0.000000
Drama                 0.089655
Action                0.068966
Crime                 0.027586
Thriller              0.027586
Horror                0.000000
Mystery               0.000000
Sci-Fi                0.068966
War                   0.000000
Musical               0.000000
Documentary           0.000000
IMAX                  0.000000
Western               0.000000
Film-Noir             0.000000
(no genres listed)    0.000000
dtype: float64

## Generating Movie Recommendations

In this section, we generate movie recommendations based on content similarity.
We calculate the dot product of the 'GenresMovies' DataFrame (containing movie genre features) and the user profile ('userProfile') to compute a weighted sum of genre scores for each movie.

In [8]:
recommendationTable_df = (GenresMovies*userProfile).sum(axis=1)
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
recommendationTable_df

movieId
134853    0.806897
26340     0.786207
51939     0.786207
673       0.786207
108932    0.786207
            ...
104272    0.000000
50658     0.000000
8577      0.000000
50740     0.000000
100044    0.000000
Length: 9742, dtype: float64

## Top Recommended Movies

In [9]:
movies_df.loc[movies_df['movieId'].isin(recommendationTable_df.head(20).keys())]

,movieId,title,genres
478,546,Super Mario Bros. (1993),Action|Adventure|Children|Comedy|Fantasy|Sci-Fi
559,673,Space Jam (1996),Adventure|Animation|Children|Comedy|Fantasy|Sc...
2250,2987,Who Framed Roger Rabbit? (1988),Adventure|Animation|Children|Comedy|Crime|Fant...
2355,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy
5490,26340,"Twelve Tasks of Asterix, The (Les douze travau...",Action|Adventure|Animation|Children|Comedy|Fan...
5819,32031,Robots (2005),Adventure|Animation|Children|Comedy|Fantasy|Sc...
6047,40339,Chicken Little (2005),Action|Adventure|Animation|Children|Comedy|Sci-Fi
6448,51939,TMNT (Teenage Mutant Ninja Turtles) (2007),Action|Adventure|Animation|Children|Comedy|Fan...
6455,52287,Meet the Robinsons (2007),Action|Adventure|Animation|Children|Comedy|Sci-Fi
6462,52462,Aqua Teen Hunger Force Colon Movie Film for Th...,Action|Adventure|Animation|Comedy|Fantasy|Myst...
6879,62956,Futurama: Bender's Game (2008),Action|Adventure|Animation|Comedy|Fantasy|Sci-Fi
7355,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX
7360,78637,Shrek Forever After (a.k.a. Shrek: The Final C...,Adventure|Animation|Children|Comedy|Fantasy|IMAX
7530,84637,Gnomeo & Juliet (2011),Adventure|Animation|Children|Comedy|Fantasy|Ro...
7550,85261,Mars Needs Moms (2011),Action|Adventure|Animation|Children|Comedy|Sci...
8357,108932,The Lego Movie (2014),Action|Adventure|Animation|Children|Comedy|Fan...
8806,130520,Home (2015),Adventure|Animation|Children|Comedy|Fantasy|Sc...
8900,134853,Inside Out (2015),Adventure|Animation|Children|Comedy|Drama|Fantasy
9169,148775,Wizards of Waverly Place: The Movie (2009),Adventure|Children|Comedy|Drama|Fantasy|Sci-Fi
9282,157865,Ratchet & Clank (2016),Action|Adventure|Animation|Children|Comedy|Sci-Fi

# Collaborative-Based recommendation system

In [10]:
Movies = movies.drop(columns=['genres'])
Movies

      movieId                               title  year
0           1                           Toy Story  1995
1           2                             Jumanji  1995
2           3                    Grumpier Old Men  1995
3           4                   Waiting to Exhale  1995
4           5         Father of the Bride Part II  1995
...       ...                                 ...   ...
9737   193581  Black Butler: Book of the Atlantic  2017
9738   193583               No Game No Life: Zero  2017
9739   193585                               Flint  2017
9740   193587        Bungo Stray Dogs: Dead Apple  2018
9741   193609        Andrew Dice Clay: Dice Rules  1991

[9742 rows x 3 columns]

In [11]:
ratings_df = ratings_df.drop(columns=['timestamp'])
ratings_df

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

## Creating User Subset for Collaborative Filtering
we create a subset of user ratings for collaborative filtering.

In [12]:
userSubset = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset

       userId  movieId  rating
0           1        1     4.0
16          1      296     3.0
320         4      296     1.0
422         4     1968     4.0
516         5        1     4.0
...       ...      ...     ...
99510     609      296     4.0
99534     610        1     5.0
99552     610      296     5.0
99636     610     1274     5.0
99664     610     1968     4.0

[784 rows x 3 columns]

## Grouping and Filtering User Subset
we group and filter the user subset for collaborative filtering based on user engagement.

In [13]:
# We group the user subset DataFrame by 'userId' to organize ratings into groups based on users.
userSubsetGroup = userSubset.groupby(['userId'])
# We sort the user groups based on the number of ratings each user has provided, prioritizing users with more ratings.
userSubsetGroup = sorted(
    userSubsetGroup, key=lambda x: len(x[1]), reverse=True)
# We filter the sorted user groups to include only those with more than 2 ratings.
userSubsetGroup = [x for x in userSubsetGroup if len(x[1]) > 2]
userSubsetGroup

[((91,),
         userId  movieId  rating
  14121      91        1     4.0
  14122      91        2     3.0
  14173      91      296     4.5
  14316      91     1274     5.0
  14383      91     1968     3.0),
 ((177,),
         userId  movieId  rating
  24900     177        1     5.0
  24901     177        2     3.5
  24930     177      296     5.0
  25069     177     1274     2.0
  25129     177     1968     3.5),
 ((219,),
         userId  movieId  rating
  31524     219        1     3.5
  31525     219        2     2.5
  31554     219      296     4.0
  31628     219     1274     2.5
  31680     219     1968     3.0),
 ((274,),
         userId  movieId  rating
  39229     274        1     4.0
  39230     274        2     3.5
  39288     274      296     5.0
  39448     274     1274     4.0
  39549     274     1968     4.0),
 ((298,),
         userId  movieId  rating
  44535     298        1     2.0
  44536     298        2     0.5
  44555     298      296     4.5
  44620     298     1274     4.0
  44655     298     1968     3.5),
 ((414,),
         userId  movieId  rating
  62294     414        1     4.0
  62295     414        2     3.0
  62425     414      296     5.0
  62769     414     1274     4.0
  62957     414     1968     5.0),
 ((474,),
         userId  movieId  rating
  73092     474        1     4.0
  73093     474        2     3.0
  73172     474      296     4.0
  73466     474     1274     2.0
  73641     474     1968     3.5),
 ((477,),
         userId  movieId  rating
  75424     477        1     4.0
  75425     477        2     4.0
  75447     477      296     4.5
  75558     477     1274     5.0
  75613     477     1968     4.0),
 ((480,),
         userId  movieId  rating
  76227     480        1     3.0
  76228     480        2     3.0
  76273     480      296     4.0
  76396     480     1274     4.0
  76462     480     1968     3.5),
 ((483,),
         userId  movieId  rating
  77222     483        1     4.0
  77223     483        2     4.0
  77265     483      296     5.0
  77375     483     1274     3.5
  77431     483     1968     3.5),
 ((599,),
         userId  movieId  rating
  92623     599        1     3.0
  92624     599        2     2.5
  92742     599      296     5.0
  93073     599     1274     5.0
  93269     599     1968     3.5),
 ((608,),
         userId  movieId  rating
  98666     608        1     2.5
  98667     608        2     2.0
  98723     608      296     5.0
  98882     608     1274     4.0
  98980     608     1968     4.0),
 ((50,),
        userId  movieId  rating
  7112      50        1     3.0
  7116      50      296     4.0
  7158      50     1274     4.0
  7175      50     1968     2.5),
 ((57,),
        userId  movieId  rating
  8035      57        1     5.0
  8071      57      296     3.0
  8230      57     1274     3.0
  8321      57     1968     4.0),
 ((68,),
         userId  movieId  rating
  10360      68        1     2.5
  10361      68        2     2.5
  10419      68      296     2.0
  10679      68     1968     3.0),
 ((103,),
         userId  movieId  rating
  15565     103        1     4.0
  15566     103        2     4.0
  15587     103      296     5.0
  15684     103     1968     4.0),
 ((135,),
         userId  movieId  rating
  20336     135        1     4.0
  20337     135        2     3.0
  20357     135      296     4.0
  20482     135     1968     4.0),
 ((182,),
         userId  movieId  rating
  26092     182        1     4.0
  26152     182      296     5.0
  26301     182     1274     5.0
  26418     182     1968     5.0),
 ((202,),
         userId  movieId  rating
  29378     202        1     4.0
  29379     202        2     4.0
  29401     202      296     4.0
  29597     202     1968     5.0),
 ((217,),
         userId  movieId  rating
  30885     217        1     4.0
  30886     217        2     2.0
  30932     217      296     2.0
  31224     217     1968     4.0),
 ((226,),
         userId  movieId  rating
  33044     226        1     3.5
  33045     226        2     3.0
  33083     226      296     4.5
  33217     226     1968     4.0),
 ((288,),
         userId  movieId  rating
  42114     288        1     4.5
  42115     288        2     2.0
  42150     288      296     5.0
  42438     288     1968     3.0),
 ((307,),
         userId  movieId  rating
  46733     307        1     4.0
  46734     307        2     2.5
  46790     307      296     4.5
  47011     307     1968     4.5),
 ((318,),
         userId  movieId  rating
  48984     318        2     3.5
  49009     318      296     4.5
  49091     318     1274     5.0
  49126     318     1968     3.5),
 ((322,),
         userId  movieId  rating
  49974     322        1     3.5
  49975     322        2     3.0
  49983     322      296     5.0
  50026     322     1968     3.0),
 ((330,),
         userId  movieId  rating
  50948     330        1     4.0
  50949     330        2     1.5
  50975     330      296     4.0
  51094     330     1968     5.0),
 ((357,),
         userId  movieId  rating
  54123     357        1     5.0
  54124     357        2     3.0
  54148     357      296     4.5
  54290     357     1968     4.0),
 ((434,),
         userId  movieId  rating
  67080     434        1     4.0
  67081     434        2     2.5
  67100     434      296     5.0
  67154     434     1274     5.0),
 ((448,),
         userId  movieId  rating
  68655     448        1     5.0
  68656     448        2     3.0
  68694     448      296     5.0
  68943     448     1968     3.0),
 ((469,),
         userId  movieId  rating
  72453     469        1     4.0
  72478     469      296     5.0
  72613     469     1274     4.0
  72696     469     1968     5.0),
 ((561,),
         userId  movieId  rating
  86582     561        1     4.0
  86583     561        2     4.0
  86601     561      296     4.5
  86710     561     1968     4.0),
 ((600,),
         userId  movieId  rating
  95101     600        1     2.5
  95102     600        2     4.0
  95154     600      296     4.5
  95306     600     1274     3.5),
 ((606,),
         userId  movieId  rating
  97364     606        1     2.5
  97418     606      296     5.0
  97592     606     1274     4.0
  97692     606     1968     4.0),
 ((610,),
         userId  movieId  rating
  99534     610        1     5.0
  99552     610      296     5.0
  99636     610     1274     5.0
  99664     610     1968     4.0),
 ((18,),
        userId  movieId  rating
  1772      18        1     3.5
  1773      18        2     3.0
  1796      18      296     4.0),
 ((19,),
        userId  movieId  rating
  2274      19        1     4.0
  2275      19        2     3.0
  2629      19     1968     2.0),
 ((21,),
        userId  movieId  rating
  3219      21        1     3.5
  3220      21        2     3.5
  3231      21      296     3.5),
 ((45,),
        userId  movieId  rating
  6477      45        1     4.0
  6511      45      296     5.0
  6662      45     1968     4.0),
 ((63,),
        userId  movieId  rating
  9157      63        1     5.0
  9172      63      296     5.0
  9242      63     1968     4.0),
 ((64,),
        userId  movieId  rating
  9428      64        1     4.0
  9466      64      296     4.5
  9622      64     1968     3.5),
 ((66,),
         userId  movieId  rating
  9979       66        1     4.0
  10002      66      296     5.0
  10128      66     1968     4.0),
 ((107,),
         userId  movieId  rating
  16970     107        1     4.0
  16971     107        2     5.0
  16992     107      296     3.0),
 ((122,),
         userId  movieId  rating
  18831     122        2     4.0
  18845     122      296     5.0
  18900     122     1968     4.5),
 ((132,),
         userId  movieId  rating
  19919     132        1     2.0
  19946     132      296     4.0
  20048     132     1968     4.0),
 ((140,),
         userId  movieId  rating
  21083     140        1     3.0
  21084     140        2     3.5
  21119     140      296     4.0),
 ((141,),
         userId  movieId  rating
  21691     141        1     4.0
  21700     141      296     4.0
  21734     141     1968     4.0),
 ((144,),
         userId  movieId  rating
  21968     144        1     3.5
  21969     144        2     3.0
  21989     144      296     4.0),
 ((153,),
         userId  movieId  rating
  22425     153        1     2.0
  22426     153        2     2.0
  22429     153      296     3.0),
 ((156,),
         userId  movieId  rating
  22684     156        1     4.0
  22707     156      296     5.0
  22891     156     1968     3.5),
 ((160,),
         userId  movieId  rating
  23226     160        1     4.0
  23227     160        2     4.0
  23264     160      296     5.0),
 ((166,),
         userId  movieId  rating
  23864     166        1     5.0
  23874     166      296     4.5
  23932     166     1968     2.5),
 ((198,),
         userId  movieId  rating
  28361     198      296     5.0
  28417     198     1274     4.0
  28454     198     1968     3.0),
 ((200,),
         userId  movieId  rating
  28934     200        1     3.5
  28949     200      296     5.0
  29025     200     1968     4.0),
 ((201,),
         userId  movieId  rating
  29268     201        1     5.0
  29283     201      296     5.0
  29337     201     1968     5.0),
 ((232,),
         userId  movieId  rating
  33898     232        1     3.5
  33899     232        2     4.0
  33913     232      296     5.0),
 ((240,),
         userId  movieId  rating
  35580     240        1     5.0
  35581     240        2     5.0
  35631     240      296     2.0),
 ((249,),
         userId  movieId  rating
  36374     249        1     4.0
  36375     249        2     4.0
  36398     249      296     4.0),
 ((266,),
         userId  movieId  rating
  38665     266        1     2.0
  38687     266      296     5.0
  38781     266     1968     2.0),
 ((275,),
         userId  movieId  rating
  40575     275        1     5.0
  40596     275      296     5.0
  40749     275     1968     4.0),
 ((282,),
         userId  movieId  rating
  41460     282        1     4.5
  41472     282      296     4.0
  41533     282     1968     4.0),
 ((292,),
         userId  movieId  rating
  43491     292        1     4.0
  43505     292      296     3.0
  43586     292     1968     3.0),
 ((294,),
         userId  movieId  rating
  43958     294        2     3.0
  43990     294      296     4.0
  44184     294     1968     3.0),
 ((304,),
         userId  movieId  rating
  45728     304        1     5.0
  45729     304        2     4.0
  45768     304      296     5.0),
 ((305,),
         userId  movieId  rating
  45944     305        2     3.5
  45962     305      296     5.0
  46076     305     1968     5.0),
 ((313,),
         userId  movieId  rating
  48261     313      296     5.0
  48336     313     1274     5.0
  48389     313     1968     2.0),
 ((323,),
         userId  movieId  rating
  50081     323        1     3.5
  50082     323        2     4.0
  50112     323      296     4.0),
 ((328,),
         userId  movieId  rating
  50670     328        1     5.0
  50681     328      296     5.0
  50765     328     1968     2.5),
 ((353,),
         userId  movieId  rating
  53492     353        1     5.0
  53493     353        2     4.0
  53547     353      296     5.0),
 ((359,),
         userId  movieId  rating
  54547     359        1     4.0
  54548     359        2     3.5
  54553     359      296     4.0),
 ((372,),
         userId  movieId  rating
  56128     372        1     3.0
  56180     372      296     4.0
  56313     372     1274     1.0),
 ((373,),
         userId  movieId  rating
  56364     373        1     3.0
  56365     373        2     3.0
  56415     373      296     5.0),
 ((380,),
         userId  movieId  rating
  56878     380        1     5.0
  56879     380        2     5.0
  56920     380      296     5.0),
 ((381,),
         userId  movieId  rating
  58096     381        1     3.5
  58097     381        2     4.0
  58212     381     1968     5.0),
 ((387,),
         userId  movieId  rating
  59269     387      296     5.0
  59453     387     1274     4.5
  59540     387     1968     3.5),
 ((391,),
         userId  movieId  rating
  60405     391        1     3.0
  60430     391      296     5.0
  60603     391     1968     4.0),
 ((411,),
         userId  movieId  rating
  62009     411        1     5.0
  62010     411        2     4.0
  62071     411      296     5.0),
 ((425,),
         userId  movieId  rating
  65884     425        2     3.0
  65914     425      296     4.0
  66035     425     1968     3.5),
 ((432,),
         userId  movieId  rating
  66798     432        1     2.5
  66799     432        2     4.0
  66814     432      296     2.5),
 ((462,),
         userId  movieId  rating
  71544     462        1     1.5
  71563     462      296     2.5
  71678     462     1968     4.0),
 ((470,),
         userId  movieId  rating
  72918     470        1     4.0
  72919     470        2     3.0
  72954     470      296     3.0),
 ((476,),
         userId  movieId  rating
  75355     476        1     4.0
  75356     476        2     4.0
  75380     476      296     3.0),
 ((484,),
         userId  movieId  rating
  77950     484        1     4.5
  77951     484        2     2.5
  78032     484     1968     4.0),
 ((489,),
         userId  movieId  rating
  78471     489        2     2.5
  78512     489      296     4.0
  78699     489     1968     4.0),
 ((500,),
         userId  movieId  rating
  79907     500        1     4.0
  79942     500     1274     4.0
  79957     500     1968     4.0),
 ((504,),
         userId  movieId  rating
  80168     504        1     4.0
  80171     504      296     4.0
  80184     504     1968     4.0),
 ((514,),
         userId  movieId  rating
  81082     514        1     4.0
  81096     514      296     4.0
  81190     514     1968     4.0),
 ((525,),
         userId  movieId  rating
  82613     525        1     4.0
  82614     525        2     3.5
  82713     525     1968     4.5),
 ((555,),
         userId  movieId  rating
  85291     555        1     4.0
  85325     555      296     4.0
  85541     555     1968     5.0),
 ((559,),
         userId  movieId  rating
  85984     559        1     5.0
  85985     559        2     4.0
  86029     559      296     3.0),
 ((560,),
         userId  movieId  rating
  86124     560        1     3.0
  86140     560      296     4.0
  86177     560     1274     3.5),
 ((562,),
         userId  movieId  rating
  87087     562        1     4.5
  87093     562      296     5.0
  87147     562     1968     5.0),
 ((570,),
         userId  movieId  rating
  88219     570        1     4.0
  88220     570        2     3.5
  88341     570     1968     4.0),
 ((573,),
         userId  movieId  rating
  88677     573        1     5.0
  88678     573        2     4.5
  88693     573      296     5.0),
 ((590,),
         userId  movieId  rating
  90517     590        1     4.0
  90518     590        2     2.5
  90546     590      296     4.5),
 ((603,),
         userId  movieId  rating
  96100     603        1     4.0
  96171     603      296     5.0
  96414     603     1274     1.0),
 ((604,),
         userId  movieId  rating
  97043     604        1     3.0
  97044     604        2     5.0
  97103     604      296     5.0),
 ((605,),
         userId  movieId  rating
  97143     605        1     4.0
  97144     605        2     3.5
  97151     605      296     2.0),
 ((607,),
         userId  movieId  rating
  98479     607        1     4.0
  98496     607      296     3.0
  98574     607     1968     5.0)]

## Calculating Correlation Coefficient

we calculate the Spearman's rank correlation coefficient between user ratings in the user subset and input movie ratings.

In [14]:
from scipy.stats.mstats import spearmanr

pearsonCorrelationDict = {}

for name, group in userSubsetGroup:
# We iterate over each user group in the 'userSubsetGroup'.
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    # We create temporary DataFrames containing ratings for movies common to both the user group and input movies, 
    # and extract the rating lists from these DataFrames.
    temp_df = inputMovies[inputMovies['movieId'].isin(
        group['movieId'].tolist())]
    tempRatingList = temp_df['rating'].tolist()
    tempGroupList = group['rating'].tolist()
    # We calculate the Spearman's rank correlation coefficient between the ratings from the user group and the input movies,
    # and store the result in the 'pearsonCorrelationDict' dictionary.
    corr, _ = spearmanr(tempRatingList, tempGroupList)
    pearsonCorrelationDict[name] = format(corr, '.3f')

pearsonCorrelationDict

{(91,): '0.263',
 (177,): '-0.351',
 (219,): '-0.342',
 (274,): '-0.229',
 (298,): '-0.205',
 (414,): '-0.270',
 (474,): '-0.289',
 (477,): '0.057',
 (480,): '-0.162',
 (483,): '-0.649',
 (599,): '-0.026',
 (608,): '-0.289',
 (50,): '-0.056',
 (57,): '0.389',
 (68,): '0.632',
 (103,): '-0.775',
 (135,): '0.258',
 (182,): '-0.544',
 (202,): '0.258',
 (217,): '0.894',
 (226,): '-0.400',
 (288,): '-0.200',
 (307,): '-0.211',
 (318,): '0.316',
 (322,): '-0.316',
 (330,): '0.316',
 (357,): '0.400',
 (434,): '-0.056',
 (448,): '0.000',
 (469,): '-0.943',
 (561,): '-0.775',
 (600,): '-0.949',
 (606,): '-0.833',
 (610,): '0.272',
 (18,): '-0.500',
 (19,): '0.500',
 (21,): '0.000',
 (45,): '-0.866',
 (63,): '0.000',
 (64,): '-0.500',
 (66,): '-0.866',
 (107,): '0.500',
 (122,): '-0.500',
 (132,): '-0.866',
 (140,): '-1.000',
 (141,): '0.000',
 (144,): '-0.500',
 (153,): '-0.866',
 (156,): '-0.500',
 (160,): '-0.866',
 (166,): '0.500',
 (198,): '-0.500',
 (200,): '-1.000',
 (201,): '0.000',
 (232,): '-1.000',
 (240,): '0.866',
 (249,): '0.000',
 (266,): '-0.866',
 (275,): '0.000',
 (282,): '0.866',
 (292,): '0.866',
 (294,): '-0.866',
 (304,): '0.000',
 (305,): '0.000',
 (313,): '0.000',
 (323,): '-0.866',
 (328,): '0.000',
 (353,): '0.000',
 (359,): '0.000',
 (372,): '-0.866',
 (373,): '-0.866',
 (380,): '0.000',
 (381,): '-0.500',
 (387,): '-0.500',
 (391,): '-1.000',
 (411,): '0.000',
 (425,): '-0.500',
 (432,): '0.000',
 (462,): '-0.500',
 (470,): '0.866',
 (476,): '0.866',
 (484,): '1.000',
 (489,): '0.000',
 (500,): '0.000',
 (504,): '0.000',
 (514,): '0.000',
 (525,): '0.500',
 (555,): '0.000',
 (559,): '1.000',
 (560,): '-0.866',
 (562,): '-0.866',
 (570,): '0.866',
 (573,): '0.000',
 (590,): '-0.500',
 (603,): '-0.866',
 (604,): '-0.866',
 (605,): '1.000',
 (607,): '0.500'}

## Creating DataFrame of Similar Users

we create a DataFrame containing similar users based on their similarity index.

In [15]:
keys = list(pearsonCorrelationDict.keys())
values = list(pearsonCorrelationDict.values())
clean_keys = [value for (value,) in keys]
# We create a DataFrame 'pearsonDF' with columns 'userId' and 'SimilarityIndex' to store user similarity indices.
pearsonDF = pd.DataFrame({'userId': clean_keys, 'SimilarityIndex': values})
# We convert the 'SimilarityIndex' column to numeric data type, handling any errors that may occur during conversion.
pearsonDF['SimilarityIndex'] = pd.to_numeric(pearsonDF['SimilarityIndex'], errors='coerce')
# We sort the DataFrame 'pearsonDF' by 'SimilarityIndex' in descending order to prioritize similar users with higher similarity indices.
topUsers = pearsonDF.sort_values(by='SimilarityIndex', ascending=False)
# We filter the DataFrame to include only those users with a similarity index greater than 0.5, ensuring significant similarity.
topUsers = topUsers[topUsers['SimilarityIndex'] > 0.5]
topUsers = topUsers.reset_index(drop=True)
topUsers.head()

   userId  SimilarityIndex
0     605            1.000
1     559            1.000
2     484            1.000
3     217            0.894
4     282            0.866

## Merging Similar Users with Ratings Data
We merge the 'topUsers' DataFrame containing similar users with the 'ratings_df' DataFrame based on the 'userId' column, using an inner join to retain only the overlapping rows.

In [16]:
topUsersRating=topUsers.merge(ratings_df, left_on='userId', right_on='userId', how='inner')
topUsersRating.head()

   userId  SimilarityIndex  movieId  rating
0     605              1.0        1     4.0
1     605              1.0        2     3.5
2     605              1.0       28     4.0
3     605              1.0       73     3.0
4     605              1.0      110     3.0

## Calculating Weighted Ratings for Similar Users
We calculate the weighted rating for each user by multiplying their similarity index with their respective rating.

In [17]:
topUsersRating['weightedRating'] = topUsersRating['SimilarityIndex']*topUsersRating['rating']
topUsersRating.head()

   userId  SimilarityIndex  movieId  rating  weightedRating
0     605              1.0        1     4.0             4.0
1     605              1.0        2     3.5             3.5
2     605              1.0       28     4.0             4.0
3     605              1.0       73     3.0             3.0
4     605              1.0      110     3.0             3.0

## Aggregating Weighted Ratings for Movies

we aggregate the weighted ratings for each movie based on similar users' ratings.
We group the 'topUsersRating' DataFrame by 'movieId' and calculate the sum of 'SimilarityIndex' and 'weightedRating' columns for each movie.

In [18]:
tempTopUsersRating = topUsersRating.groupby(
    'movieId').sum()[['SimilarityIndex', 'weightedRating']]
tempTopUsersRating.columns = ['sum similarity Index', 'sum weighted Rating']
tempTopUsersRating.head()

         sum similarity Index  sum weighted Rating
movieId
1                       9.722               40.739
2                       7.990               26.791
3                       3.258                8.220
5                       1.498                3.862
6                       4.258               15.378

## Generating Movie Recommendations

we generate movie recommendations based on weighted average recommendation scores that calculated by dividing the sum of weighted ratings by the sum of similarity indices. We also include the 'movieId' column to identify movies.

In [19]:
recommendation_df = pd.DataFrame()
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum weighted Rating'] / \
    tempTopUsersRating['sum similarity Index']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df = recommendation_df.sort_values(
    by='weighted average recommendation score', ascending=False)
recommendation_df = recommendation_df.reset_index(drop=True)
recommendation_df

      weighted average recommendation score  movieId
0                                       5.0    69069
1                                       5.0    74946
2                                       5.0     1753
3                                       5.0    93320
4                                       5.0     1641
...                                     ...      ...
2023                                    1.0     3433
2024                                    0.5   118900
2025                                    0.5     2953
2026                                    0.5    42018
2027                                    0.5    60363

[2028 rows x 2 columns]

## Top Recommended Movies

In [20]:
movies_df.loc[movies_df['movieId'].isin(
    recommendation_df.head(20)['movieId'].tolist())]

,movieId,title,genres
228,265,Like Water for Chocolate (Como agua para choco...,Drama|Fantasy|Romance
286,328,Tales from the Crypt Presents: Demon Knight (1...,Horror|Thriller
340,383,Wyatt Earp (1994),Western
599,745,Wallace & Gromit: A Close Shave (1995),Animation|Children|Comedy
759,998,Set It Off (1996),Action|Crime
821,1081,Victor/Victoria (1982),Comedy|Musical|Romance
996,1298,Pink Floyd: The Wall (1982),Drama|Musical
1084,1408,"Last of the Mohicans, The (1992)",Action|Romance|War|Western
1232,1641,"Full Monty, The (1997)",Comedy|Drama
1307,1753,Half Baked (1998),Comedy
1672,2249,My Blue Heaven (1990),Comedy
2543,3404,Titanic (1953),Action|Drama
4575,6796,Boyz N the Hood (1991),Crime|Drama
5379,8968,After the Sunset (2004),Action|Adventure|Comedy|Crime|Thriller
6551,54881,"King of Kong, The (2007)",Documentary
6999,67618,Strictly Sexual (2008),Comedy|Drama|Romance
7041,69069,Fired Up (2009),Comedy
7284,74946,She's Out of My League (2010),Comedy
7465,81834,Harry Potter and the Deathly Hallows: Part 1 (...,Action|Adventure|Fantasy|IMAX
7840,93320,Trailer Park Boys (1999),Comedy|Crime